div#menu1 {
    border:1px solid black;
    float:left;
    width:330px;
    padding: 30px 20px;
}

div#content-input {
    border:1px solid gray;
    float:left;
    width:630px;
    padding: 30px 20px;
}